*{
    box-sizing: border-box;
}
main{
    width: 960px;
    margin: 30px auto;
}
.container {
    background-color: beige;
    justify-content: flex-start;
    display: flexbox;
    align-items: center;
}
.container div {
    align-content: space-between;
    display: flexbox;
    
}