
*{
    box-sizing: border-box;
    
}
main{
    background-color: #80cbc4;
    width: 80%;
    margin: auto;
    border: 5px solid #1C0F13;
    padding: 20px;
}
h1{
    font-size: 4rem;
    width: 60%;
    margin: auto;
    border: 10px dashed #1C0F13;
    background-color: #F5D6BA;
   margin-bottom: 20px;
   text-align: center;
}
h2{
    font-size: 3rem;
}
img{
    max-width: 200px;   
    max-height: 200px;
    margin: auto;
}
ul{
    font-size: 20px;
    margin: auto;
    
}
.top10{
    max-width: fit-content;
    display:inline-table;
}
ol.top10{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 5px;
    margin: auto;
}
body{
    background-color: #F5D6BA;
    
}
footer{
    width: 80%;
    margin: auto;
    padding: auto;
}
footer h2{
    text-align: center;
    width: 40%;
    margin: auto;

}
.catPicture{
background-color: #80cbc4;
  border: 1px solid #fff;
  width:250px;
  font-size: 30px;
  text-align: center;
  border-radius: 18%;
}
a{
    padding: 5px;
}
#goals{
    box-sizing: initial;
    font-size: 30px;
    margin-left: 20px;
}
